/* AF NSAT ASD*/
.add_sports_details_div{
    display: inline-block;
}
/* NSAT ASD */
.add_sports_details_input{
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
    padding: 1vw;
    border-radius: 0.5vw;
    margin: 0vw 1vw 2vw 1vw;
    color: black;
}
/* NSAT ASD*/
.add_sports_details_input_select{
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
    padding: 0vw 1vw;
    border-radius: 0.5vw;
    margin: 0vw 1vw 2vw 1vw;
}
/* NSAT ASD*/
.add_sports_details_input_options{
    font-size: 1.2;
    background-color: black;
    color: white;
}
/* NSAT  AF ASD*/
.add_sports_details_list{
    list-style-type: none;
    padding: 0%;
    margin: 0vw 0vw 3vw 0vw;
}

/* NSAT AF ASD*/
.add_sports_details_float_right{
    float:right;
}

/* NSAT AF ASD*/
.add_sports_details_list_items{
    margin: 0;
}
/* NAST AF ASD*/
.add_sports_details_list_items2{
    display: inline-block;
    padding: 0;
    margin: 1vw;
}
/* NAST AF ASD*/
.add_sports_details_button{
    padding: 0.5vw;
    color: white;
    background-color: transparent;
    border: white 0.2vw solid;
    font-size: 1.5vw;
}

/* NAST  AF ASD*/
.add_sports_details_margin_zero{
    margin: 0vw;
}
/* NAST AF ASD*/
.add_sports_details_clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.add_sports_details_float_left{
    float: left;
}
/* ASD */
.add_sports_details_teamsname_cotainer{
    margin: 0vw;
    height: 20vw;
    width: 100%;
    padding: 0vw;
    border-radius: 2vw;
    background-color: gray;
}