.eventcard_maindiv{
    /* color: wheat; */
    background-color: rgb(30, 30, 30);
    border: 0.1vw black solid;
    padding: 1vw;
    text-align: center;
    display: inline-block;
    margin: 0.45vw
}
.eventcard_name{
    color: white;
    font-size: 1.5vw;
}
.eventcard_div_padding{
    padding: .2vw;
}
.eventcard_div_margin{
    margin: 1vw;
    /* font-size: 1vw; */
}
.eventcard_text{
    font-size: 1.2vw;
}
.eventcard_color_white{
    color: rgb(164, 164, 164);
}
.eventcard_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.eventcard_list_items{
    display: inline-block;
}
.eventcard_float_left{
    float: left;
}
.eventcard_float_right{
    float: right;
}
.eventcard_margin_left{
    margin-left: 12%;
}
.eventcard_margin_right{
    margin-right: 12%;
}

.eventcard_buttons{
    background-color: transparent;
    border: 0.1vw white solid;
    color: white;
    font-size: 1.2vw;
    padding: 0.5vw;
}

.eventcard_clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.eventcard_div_color{
    border: rgb(66, 66, 66) 0.1vw solid;
}
.eventcard_a{
    text-decoration: none;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.eventcard_col-3 {width: 24%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}