.ls-form {
    top: 6vw;
    left: 32.5vw;
    position: absolute;
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0,0.5);
    /* opacity: 100; */
    padding: 3vw;
    /* border-radius: 2vw; */
    align-items: center;
    border: black solid 0.1vw;
    z-index: 1005;
}


.col-4 {width: 33.33%;}


.ls-input-label {
    margin: 1vw 0vw;
    position: relative;
    width: 27vw;
    height: 3vw;
    font-size: 1.2vw;
    border-radius: 1vw;
    border: none;
    padding-left: 1vw;
}

.ls-login-button {
    display: block;
    text-align: center;
    margin: 1vw 0vw 0vw 9vw;
    padding: 0.5vw 1.5vw;
    font-size: 1.2vw;
    background: none;
    color: aliceblue;
    border: white 0.2vw solid;
}

.ls-topic-button{
    display: inline;
    text-align: center;
    font-size: 1.8vw;
    background: none;
    color: aliceblue;
    border: none;
}
.ls-background{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    z-index: 1001;
    opacity: 0.5;
}
.ls-cross{
    /* content: "\274C"; */
    z-index: 1002;
    opacity: 100%;
    float: right;
}
.ls-cross-image{
    height: 100%;
    width:1vw;
}
.ls-login-button:hover{
    background-color: white;
    color: black;
}
.ls-topic-button:hover{
    /* border: 0.1vw white solid;
     */
     color:gray;
}

.ls-list{
    list-style-type: none;
    list-style-position: inside;
    /* border: 1px solid rebeccapurple; */
    padding: 0%;
}
.ls-list-items{
    display: inline-block;
    /* border: 1px solid red; */
}

.float-left {
    float: left;
    margin-left: 12% ;
}

.float-right {
    float: right;
    margin-right: 12% ;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}