/* innerdivnav */
.nav_innerdivnav {
    /* position: absolute; */
    width: 100%;
    height: 5vw;
    /* left: 0vw; */
    background: rgba(32, 31, 31, 0.919);
    /* z-index: 1000; */
  }
.nav_li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav_head{
    margin: 0.1vw 0vw 0vw 1vw;
    float: left;
    font-size: 2.5vw;
}
.nav_a{
    margin: 0.5vw 0vw 0vw 0vw;
    float: right;
    font-size: 1.5vw;
}
.nav_text_only{
    display: block;
    color: white;
    text-align: center;
    padding: 1.2vw 1.5vw;
    text-decoration: none;
  }
.nav_li_button{
    display: block;
    text-align: center;
    margin: 0.7vw 0.5vw 0vw;
    padding: 0.5vw 1.5vw;
    font-size: 1.5vw;
    background: none;
    color: aliceblue;
    border: white 0.2vw solid;
}
.nav_li_a_text:hover {
    color: gray;
}
.nav_li_button:hover {
    color:black;
    background-color: white;
    border-color: black;
}

