/* AF NSAT */
.add_features_div{
    display: inline-block;
}

/* NSAT  AF*/
.add_features_list{
    list-style-type: none;
    padding: 0%;
    margin: 0vw 0vw 3vw 0vw;
}
/* NSAT AF */
.add_features_list_span{
    color:white;
    margin: 0vw 0vw 0vw 1vw;
    padding: 0;
    font-size: 1.5vw;
}
/* NSAT AF */
.add_features_float_right{
    float:right;
}
.add_features_float_left{
    float: left;
}
/* NSAT AF */
.add_features_list_items{
    margin: 0;
}
/* NAST AF */
.add_features_list_items2{
    display: inline-block;
    padding: 0;
    margin: 1vw;
}
/* NAST AF */
.add_features_button{
    padding: 0.5vw;
    color: white;
    background-color: transparent;
    border: white 0.2vw solid;
    font-size: 1.5vw;
}
/* ALL */
.div_red{
    border: red 1px solid;
}
/* NAST  AF*/
.add_features_margin_zero{
    margin: 0vw;
}
/* NAST AF*/
.add_features_clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/* NAST AF */
.add_features_radio{
    height: 1vw;
    width: 1vw;
    padding: 0vw 0vw 0vw 0vw;
    margin: 0vw;
}
/* AF */
.add_features_list_features{
    /* margin: 0vw 0vw 0vw 18vw; */
    padding: 0%;
    list-style-type: none;
    text-align: justify;
}
/* AF */
.add_features_title_features{
    color:white;
    font-size: 1.8vw;
    margin-bottom: 1vw;
}
/* AF */
.add_features_div_list{
    margin: 0vw 0vw 0vw 12vw;
}