.auction_manager{
    background-color: rgb(61, 61, 61);
    padding: 2vw;
}
.auction_manager_title{
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
.auction_manager_column{
    padding: 2vw;
}
.auction_manager_input{
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
    padding: 1vw;
    border-radius: 0.5vw;
    margin: 1vw 1vw 1vw 13vw;
    color: black;
}
.auction_manager_button{
    padding: 0.5vw;
    color: white;
    background-color: transparent;
    border: white 0.2vw solid;
    font-size: 1.5vw;
    margin-left: 45%;
}
.auction_manager_span{
    font-size: 1.5vw;
    color: white;
    margin: 1vw;
}
.auction_manager_margin{
    margin-left: 15vw;
    margin-bottom: 2vw;
}
.auction_manager_players_list{
    border: 0.2vw white solid;
    height: 35vw;
}
.auction_manager_bottom{
    margin-bottom: 10vw;
}