.createevent_background{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
    opacity: 0.5;
    /* border: red solid 1px; */
}
.createevent_form{
    position: fixed;
    top:10vw;
    left:22vw;
    z-index: 1005;
    background-color: rgb(0, 0, 0);
    padding: 2vw;
}
.createevent_text{
    text-align: center;
    color: white;
    font-size: 2vw;
}
.createevent_cross{
    /* border: red 1vw solid; */
    z-index: 1006;
    /* float: right; */
}
.createevent_img_cross{
    height: 1vw;
    width: 1vw;
    float: right;
}
.createevent_div{
    display: inline-block;
}
.createevent_input{
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
    padding: 1vw;
    border-radius: 0.5vw;
    margin: 0vw 1vw 2vw 1vw;
    color: black;
}
.createevent_input_select{
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
    padding: 0vw 1vw;
    border-radius: 0.5vw;
    margin: 0vw 1vw 2vw 1vw;
}
.createevent_input_options{
    font-size: 1.2;
}
.createevent_label{
    color:white;
    margin: 0vw 0vw 0vw 1vw;
    padding: 0;
    font-size: 1.2vw;
}
.createevent_list{
    list-style-type: none;
    /* padding: 0%; */
}
.createevent_list_span{
    color:white;
    margin: 0vw 0vw 0vw 1vw;
    padding: 0;
    font-size: 1.5vw;
}
.createevent_float_right{
    float:right;
}
.createevent_list_items{
    margin: 0.5vw;
}
