.name_sports_and_types_div{
    display: inline-block;
}
/* NSAT */
.name_sports_and_types_input{
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
    padding: 1vw;
    border-radius: 0.5vw;
    margin: 0vw 1vw 2vw 1vw;
    color: black;
}
/* NSAT */
.name_sports_and_types_input_select{
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
    padding: 0vw 1vw;
    border-radius: 0.5vw;
    margin: 0vw 1vw 2vw 1vw;
}
/* NSAT */
.name_sports_and_types_input_options{
    font-size: 1.2;
    background-color: black;
    color: white;
}
/* NSAT */
.name_sports_and_types_label{
    color:white;
    margin: 0vw 0vw 0vw 1vw;
    padding: 0;
    font-size: 1.2vw;
}
/* NSAT */
.name_sports_and_types_list{
    list-style-type: none;
    padding: 0%;
    margin: 0vw 0vw 3vw 0vw;
}
/* NSAT */
.name_sports_and_types_list_span{
    color:white;
    margin: 0vw 0vw 0vw 1vw;
    padding: 0;
    font-size: 1.5vw;
}
/* NSAT */
.name_sports_and_types_float_right{
    float:right;
}
/* NSAT */
.name_sports_and_types_list_items{
    margin: 0;
}
/* NAST */
.name_sports_and_types_list_items2{
    display: inline-block;
    padding: 0;
    margin: 1vw;
}
/* NAST */
.name_sports_and_types_button{
    padding: 0.5vw;
    color: white;
    background-color: transparent;
    border: white 0.2vw solid;
    font-size: 1.5vw;
}

/* NAST */
.name_sports_and_types_margin_zero{
    margin: 0vw;
}
/* NAST */
.name_sports_and_types_clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/* NAST */
.name_sports_and_types_radio{
    height: 1vw;
    width: 1vw;
    padding: 0vw 0vw 0vw 0vw;
    margin: 0vw;
}